.home-1 {
  background-color: #ac0200;
  padding: 2rem;
}
.home-1 .home-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
}
.home-txt:hover p{
    text-decoration: underline;
}
.home-1 .home-txt figure {
  width: 6.5rem;
}
.home-1 .home-txt figure img {
  width: 100%;
  object-fit: cover;
  filter: brightness(0) invert(1)

}
.home-1 .home-txt h1{
    font-size: 6.5rem;
    width: 75%;
}
.home-1 .home-txt p{
    width: 30%;
    margin-top: 2rem;
    font-size: 1.2rem;
}
.home-txt p span{
    font-weight: bold;
    text-decoration: underline;
}
.home-img1{
    position: relative;
    cursor: pointer;
}
.home-img1:hover p{
    text-decoration: underline;
}
.home-img1 figure{
    width: 100%;
}
.home-img1 figure img{
    width: 100%;
}
.home-img1 p{
    color: white;
    position: absolute;
    top: 6rem;
    left: 3rem;
    font-size: 1.5rem;
    width: 30%;

}
.home-img1 h1{
    font-size: 6.5rem;
    margin-bottom: 2rem;
}
.home-img1 span{
    margin-top: 3rem;
}
.home-img2{
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
}
.home-img2 figure{
    width: 48%;
    text-align: center;
}
.home-img2 figure img{
    width: 100%;
}
.home-img2 figure p{
    font-size: 1.5rem;
    font-weight: bold;
}
.home-img2 h1{
    position: absolute;
    top: 5.5rem;
    margin-left: 3rem;
    font-size: 2.5rem;
}