.search {
  background-color: #f7f7f7;
  border-radius: .5rem;
  border: none;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  position: relative;
}
.search ul li{
  padding: .5rem;
}
.search input {
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: .9rem;
}
.search span {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.623);
  margin-left: .5rem;
  cursor: pointer;
  transition: .4s all;
}
.input-dropdown {
  width: 100%;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  opacity: 1;
  transition: .4s all;
  z-index: 999;
  border-radius: 0 0 .5rem .5rem;
  border: 1px solid;
}
.input-hidden {
  opacity: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  transition: .4s all;
  height: 5rem;
  z-index: 999;
  border-radius: 0 0 .5rem .5rem;
  border: 1px solid;
}
